<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Stock Quote | AMQP Example</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
    <link href="assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/css/patternfly.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="assets/css/styles.min.css">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

    <!-- This example was adapted from a chat example included in the
  excellent 'JavaScript: The Definitive Guide', by David Flanagan and
  published by O'Reilly. -->
    <script src="assets/js/rhea.js"></script>
</head>

<body>

    <div id="site-content">
        <main class="main-content">
            <div class="breadcrumbs">
                <div class="container">
                    <a href="index.html">Home</a>
                    <span>Stock</span>
                </div>
            </div>

            <div class="page">
                <div id="accident-app" class="app container">
                    <div class="row">
                        <div class="col-md-8">
                            <form id="report" class="form-inline">
                                <div class="form-group">
                                    <label for="stock">Stock</label>
                                    <input type="text" name="stock" class="form-control" id="stock" placeholder="Stock Symbol">
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" name="price" class="form-control" id="price" placeholder="Stock Price">
                                </div>
                                <a id="post" class="btn btn-primary btn-lg">Send Update</a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <form id="messages-burst" class="form-inline">
                                <div class="form-group">
                                    <label for="messages">Messages</label>
                                    <input type="text" name="messages" class="form-control" id="messages" placeholder="# of Messages">
                                </div>
                                <a id="burst" class="btn btn-primary btn-lg">Send Burst</a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-8">
                            <h4>Latest Stock Information:</h4>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Stock Symbol</th>
                                        <th class='text-right'>Stock Price</th>
                                    </tr>
                                </thead>
                                <tbody id="latest">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-1.11.1.min.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/patternfly.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/config/mq_config.min.js"></script>

    <script>
        var server = config.mq_server;

        var client = require('rhea');

        client.options.username = config.mq_username;
        client.options.password = config.mq_password;

        var ws = client.websocket_connect(WebSocket);
        var connection = client.connect({
            "connection_details": ws(
                server,
                [
                    "binary",
                    "AMQPWSB10",
                    "amqp"
                ]),
            "reconnect": false,
            transport: 'tls',
            servername: server,
            rejectUnauthorized: false
        });

        var sender = connection.open_sender(config.mq_destination);

        client.on("message", function (context) {
            console.log(context.message);
            var m = JSON.parse(context.message.body);
            $("#latest").prepend("<tr><td>" + m.stock + "</td><td class='text-right'>" + m.price + "</td></tr>");
        });
        connection.open_receiver(config.mq_destination);

        (function ($) {
            var items = ["RHT", "MSFT", "AMZN", "GOOG", "HPQ"];

            $('#post').click(function () {
                var text = JSON.stringify($('#report').serializeObject());
                sender.send({ body: text });
                setTimeout(function () { alert("messages sent!"); }, 1);
                $('#stock').val("");
                $('#price').val("");
            });

            $('#burst').click(function () {
                var messages = Number($('#messages').val());
                for (i = 0; i < messages; i++) {
                    setTimeout(function () {
                        var text = '{ "stock": "' + jQuery.rand(items) + '", "price": "' + ((Math.random() * 10.0) + 92).toFixed(2) + '" }';
                        sender.send({ "body": text });
                    }, 1000 * i);
                }
                setTimeout(function () { alert("messages sent!"); }, 1);
                $('#messages').val("");
            });
        })(jQuery);

    </script>

</body>

</html>